@using Dominio;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> Lista de Compras Cliente</h1>

@if(@ViewBag.CompraCliente !=null && @ViewBag.CompraCliente.Count != 0) { 
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Actividad</th>
                <th scope="col">Fecha de Actividad</th>
                <th scope="col">Cantidad de Entradas</th>
                <th scope="col">Usuario</th>
                <th scope="col">Fecha y Hora</th>
                <th scope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Compra unaC in @ViewBag.CompraCliente)
            {
            <tr>
                <th scope="row">@unaC.IdCompra</th>
                <td>@unaC.ActividadComprada.NombreActividad</td>
                <td>@unaC.ActividadComprada.FechaYHora</td>
                <td>@unaC.CantidadDeEntradas</td>
                <td>@unaC.IdUsuarioCompra.Nombre</td>
                <td>@unaC.FechaYHoraCompra</td>
                <td>@unaC.PrecioFinal</td>
                <td> <a href="/Compra/CancelarCompra/@unaC.IdCompra"> Cancelar Compra </a> </td>
            </tr>
            }
        </tbody>
    </table>
} else
{
    <p> Usted no ah realizado compras a la fecha </p>
}
    
